.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
height: 95vh;
flex-shrink: 0;
background: rgba(58, 58, 58, 0.60);
}
.container-fluid{
    position: relative;
    height: 97vh;
    width: 215vh;
    margin-top: -30px;
    
    background: whitesmoke;
}
.everything{
    position: relative;
    margin-top: 20px;
    margin-left: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1300px;
    height: 617px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
}

.firstHalf {
    position: relative;
    display: flex;
height: 200px;

}

.pic{
position: relative;
margin-top: 50px;
margin-left: 50px;
width: 80px;
height: 80px;
flex-shrink: 0;
border-radius: 2px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.apcle {
    position: relative;
    display: flex;
    flex-direction: column;
}
.apcletext{
    margin-top: 30px;
    height: 29px;
    width: 234px;
    position: relative;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.locat {
    position: relative;
    display: flex;
    gap: 5px;
    margin-top: 15px;
    margin-left: 10px
}

.pic1{
    margin-top: 15px;
}

.lagos p{
    color: #3A3A3A;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.send {
    position: relative;
    display: flex;
    margin-left: 1000px;
    margin-top: -50px;
width: 150px;
height: 40px;

justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 10px;
background: var(--purple-secondary-purple-normal-hover, #910B74);
}

.send p{
    color: #FFF;
text-align: center;

/* Desktop/body */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.ineed {
position: relative;
width: 681px;
height: 21px;
}

.ineed p{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.middle {
    position: relative;
    display:flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    margin-left: 50px;
    width: 1095px;
height: 125px;
flex-shrink: 0;
border-radius: 5px;
border: 0.5px solid rgba(58, 58, 58, 0.40);
}

.uprow{
    position: relative;
    display: flex;
}

.errandtype{
    position: relative;
    display: flex;
    margin-left: 17px;
}

.et p{
    color: #000;

/* Desktop/body */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.fl{
    margin-top: 15px;
    margin-left: 5px;
}
.fl p{
    color: rgba(58, 58, 58, 0.70);

/* Desktop/body */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.eth{
margin-top: 17px;
margin-left: 5px;
    color: var(--pallete-positive-normal-active, #11A746);

/* Desktop/body */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.ined{
    position: relative;
    margin-left: 50px;
    color: #000;

/* Desktop/Heading */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.last{
    margin-top: -50px;
    margin-left: 50px;
    position: relative;
    width: 923px;
    
height: 180px;
flex-shrink: 0;

}

.last p {
margin-left: 10px;
}